{% extends 'portfolio/index.html' %}
{% block content %}
<main>
    <section class="job-section">
        <div class="container job-container">
            <div class="job-elements">
                <img src="{{ achievement.image.url }}" alt="Обложка" class="job-img">
                <div class="job-text-background">
                    <h2 class="job-title">
                        {{ achievement.title }}
                    </h2>
                    <p class="job-description">
                        {{ achievement.description|safe }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}